# Ignore everything by default
*

# Track these dotfiles
!.gitignore
!alacritty/
!alacritty/**
!btop/
!btop/**
!dunst/
!dunst/**
!fastfetch/
!fastfetch/**
!fish/
!fish/**
!git/
!git/**
!gtk-3.0/
!gtk-3.0/**
!gtk-4.0/
!gtk-4.0/**
!hypr/
!hypr/**
!kitty/
!kitty/**
!micro/
!micro/**
!wallpapers/
!wallpapers/**
!waybar/
!waybar/**
!rofi/
!rofi/**
!swaync/
!swaync/**
!mozilla/
!mozilla/firefox/
!mozilla/firefox/tvcju5ep.default-release/
!mozilla/firefox/tvcju5ep.default-release/user.js
!mozilla/firefox/tvcju5ep.default-release/chrome/
!mozilla/firefox/tvcju5ep.default-release/chrome/**
!starship.toml
!Trolltech.conf
!wofi/
!wofi/**
!VSCodium/
!VSCodium/User/
!VSCodium/User/settings.json
!xsettingsd/
!xsettingsd/**
