color-link default "{{ colors.fg }},{{ colors.bg0 }}"
color-link comment "{{ colors.fg_dim }}"

color-link identifier "{{ colors.bright_blue }}"
color-link identifier.class "{{ colors.bright_blue }}"
color-link identifier.var "{{ colors.bright_blue }}"

color-link constant "{{ colors.bright_orange }}"
color-link constant.number "{{ colors.bright_orange }}"
color-link constant.string "{{ colors.bright_green }}"

color-link symbol "{{ colors.bright_purple }}"
color-link symbol.brackets "{{ colors.fg_dim }}"
color-link symbol.tag "{{ colors.bright_blue }}"

color-link type "{{ colors.bright_blue }}"
color-link type.keyword "{{ colors.bright_yellow }}"

color-link special "{{ colors.bright_purple }}"
color-link statement "{{ colors.bright_red }}"
color-link preproc "{{ colors.bright_cyan }}"

color-link underlined "{{ colors.bright_blue }}"
color-link error "bold {{ colors.bright_red }}"
color-link todo "bold {{ colors.bright_yellow }}"

color-link diff-added "{{ colors.bright_green }}"
color-link diff-modified "{{ colors.bright_yellow }}"
color-link diff-deleted "{{ colors.bright_red }}"

color-link gutter-error "{{ colors.bright_red }}"
color-link gutter-warning "{{ colors.bright_yellow }}"

color-link statusline "{{ colors.fg }},{{ colors.bg2 }}"
color-link tabbar "{{ colors.fg }},{{ colors.bg2 }}"
color-link indent-char "{{ colors.bg3 }}"
color-link line-number "{{ colors.bg3 }}"
color-link current-line-number "{{ colors.bright_yellow }}"

color-link cursor-line "{{ colors.bg2 }},{{ colors.fg }}"
color-link color-column "{{ colors.bg2 }}"
color-link type.extended "default"
