Gdk/UnscaledDPI 98304
Gdk/WindowScalingFactor 1
Gtk/EnableAnimations 1
Gtk/DecorationLayout "icon:minimize,maximize,close"
Net/ThemeName "{{ icons.xsettings_theme }}"
Gtk/PrimaryButtonWarpsSlider 1
Gtk/ToolbarStyle 3
Gtk/MenuImages 1
Gtk/ButtonImages 1
Gtk/CursorThemeSize {{ cursor.size }}
Gtk/CursorThemeName "{{ cursor.theme }}"
Net/SoundThemeName "ocean"
Net/IconThemeName "{{ icons.theme }}"
Gtk/FontName "{{ fonts.sans }},  {{ fonts.size.gtk }}"
