[Settings]
gtk-application-prefer-dark-theme=true
gtk-cursor-theme-name={{ cursor.theme }}
gtk-cursor-theme-size={{ cursor.size }}
gtk-decoration-layout=icon:minimize,maximize,close
gtk-enable-animations=true
gtk-font-name={{ fonts.sans }},  {{ fonts.size.gtk }}
gtk-icon-theme-name={{ icons.theme }}
gtk-primary-button-warps-slider=true
gtk-sound-theme-name=ocean
gtk-xft-dpi=98304
