[Settings]
gtk-application-prefer-dark-theme=true
gtk-button-images=true
gtk-cursor-theme-name={{ cursor.theme }}
gtk-cursor-theme-size={{ cursor.size }}
gtk-decoration-layout=icon:minimize,maximize,close
gtk-enable-animations=true
gtk-font-name={{ fonts.sans }},  {{ fonts.size.gtk }}
gtk-icon-theme-name={{ icons.theme }}
gtk-menu-images=true
gtk-modules=colorreload-gtk-module:window-decorations-gtk-module
gtk-primary-button-warps-slider=true
gtk-sound-theme-name=ocean
gtk-theme-name={{ icons.gtk_theme }}
gtk-toolbar-style=3
gtk-xft-dpi=98304
