[qt]
GUIEffects=none
KDE\contrast=7
KWinPalette\activeBackground={{ colors.bg1 }}
KWinPalette\activeBlend={{ colors.fg }}
KWinPalette\activeForeground={{ colors.fg }}
KWinPalette\activeTitleBtnBg={{ colors.bg0 }}
KWinPalette\frame={{ colors.bg0 }}
KWinPalette\inactiveBackground={{ colors.bg0 }}
KWinPalette\inactiveBlend={{ colors.fg_dim }}
KWinPalette\inactiveForeground={{ colors.fg_dim }}
KWinPalette\inactiveFrame={{ colors.bg0 }}
KWinPalette\inactiveTitleBtnBg={{ colors.bg0 }}
Palette\active={{ qt_palette_active }}
Palette\disabled={{ qt_palette_disabled }}
Palette\inactive={{ qt_palette_inactive }}
font="{{ fonts.sans }},{{ fonts.size.gtk }},-1,0,400,0,0,0,0,0,0,0,0,0,0,1"
