[ColorEffects:Disabled]
Color={{ colors.bg2 | rgb_vals }}
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color={{ colors.fg_dim | rgb_vals }}
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.1
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate={{ colors.bg2 | rgb_vals }}
BackgroundNormal={{ colors.bg1 | rgb_vals }}
DecorationFocus={{ accents.kde.chrome | rgb_vals }}
DecorationHover={{ accents.kde.chrome | rgb_vals }}
ForegroundActive={{ accents.kde.chrome | rgb_vals }}
ForegroundInactive={{ colors.fg_mid | rgb_vals }}
ForegroundLink={{ colors.bright_blue | rgb_vals }}
ForegroundNegative={{ colors.bright_red | rgb_vals }}
ForegroundNeutral={{ colors.bright_yellow | rgb_vals }}
ForegroundNormal={{ colors.fg_light | rgb_vals }}
ForegroundPositive={{ colors.bright_green | rgb_vals }}
ForegroundVisited={{ colors.bright_purple | rgb_vals }}

[Colors:Complementary]
BackgroundAlternate={{ colors.bg2 | rgb_vals }}
BackgroundNormal={{ colors.bg0 | rgb_vals }}
DecorationFocus={{ accents.kde.chrome | rgb_vals }}
DecorationHover={{ accents.kde.chrome | rgb_vals }}
ForegroundActive={{ accents.kde.chrome | rgb_vals }}
ForegroundInactive={{ colors.fg_mid | rgb_vals }}
ForegroundLink={{ colors.bright_blue | rgb_vals }}
ForegroundNegative={{ colors.bright_red | rgb_vals }}
ForegroundNeutral={{ colors.bright_yellow | rgb_vals }}
ForegroundNormal={{ colors.fg_light | rgb_vals }}
ForegroundPositive={{ colors.bright_green | rgb_vals }}
ForegroundVisited={{ colors.bright_purple | rgb_vals }}

[Colors:Header]
BackgroundAlternate={{ colors.bg2 | rgb_vals }}
BackgroundNormal={{ colors.bg2 | rgb_vals }}
DecorationFocus={{ accents.kde.chrome | rgb_vals }}
DecorationHover={{ accents.kde.chrome | rgb_vals }}
ForegroundActive={{ accents.kde.chrome | rgb_vals }}
ForegroundInactive={{ colors.fg_mid | rgb_vals }}
ForegroundLink={{ colors.bright_blue | rgb_vals }}
ForegroundNegative={{ colors.bright_red | rgb_vals }}
ForegroundNeutral={{ colors.bright_yellow | rgb_vals }}
ForegroundNormal={{ colors.fg_light | rgb_vals }}
ForegroundPositive={{ colors.bright_green | rgb_vals }}
ForegroundVisited={{ colors.bright_purple | rgb_vals }}

[Colors:Header][Inactive]
BackgroundAlternate={{ colors.bg2 | rgb_vals }}
BackgroundNormal={{ colors.bg1 | rgb_vals }}
DecorationFocus={{ accents.kde.chrome | rgb_vals }}
DecorationHover={{ accents.kde.chrome | rgb_vals }}
ForegroundActive={{ accents.kde.chrome | rgb_vals }}
ForegroundInactive={{ colors.fg_mid | rgb_vals }}
ForegroundLink={{ colors.bright_blue | rgb_vals }}
ForegroundNegative={{ colors.bright_red | rgb_vals }}
ForegroundNeutral={{ colors.bright_yellow | rgb_vals }}
ForegroundNormal={{ colors.fg_light | rgb_vals }}
ForegroundPositive={{ colors.bright_green | rgb_vals }}
ForegroundVisited={{ colors.bright_purple | rgb_vals }}

[Colors:Selection]
BackgroundAlternate={{ accents.kde.chrome | rgb_vals }}
BackgroundNormal={{ accents.kde.chrome | rgb_vals }}
DecorationFocus={{ accents.kde.chrome | rgb_vals }}
DecorationHover={{ accents.kde.chrome | rgb_vals }}
ForegroundActive={{ colors.bg0 | rgb_vals }}
ForegroundInactive={{ colors.bg0 | rgb_vals }}
ForegroundLink={{ colors.bright_yellow | rgb_vals }}
ForegroundNegative={{ colors.bright_red | rgb_vals }}
ForegroundNeutral={{ colors.bright_yellow | rgb_vals }}
ForegroundNormal={{ colors.bg0 | rgb_vals }}
ForegroundPositive={{ colors.bright_green | rgb_vals }}
ForegroundVisited={{ colors.bright_purple | rgb_vals }}

[Colors:Tooltip]
BackgroundAlternate={{ colors.bg1 | rgb_vals }}
BackgroundNormal={{ colors.bg0 | rgb_vals }}
DecorationFocus={{ accents.kde.chrome | rgb_vals }}
DecorationHover={{ accents.kde.chrome | rgb_vals }}
ForegroundActive={{ accents.kde.chrome | rgb_vals }}
ForegroundInactive={{ colors.fg_mid | rgb_vals }}
ForegroundLink={{ colors.bright_blue | rgb_vals }}
ForegroundNegative={{ colors.bright_red | rgb_vals }}
ForegroundNeutral={{ colors.bright_yellow | rgb_vals }}
ForegroundNormal={{ colors.fg_light | rgb_vals }}
ForegroundPositive={{ colors.bright_green | rgb_vals }}
ForegroundVisited={{ colors.bright_purple | rgb_vals }}

[Colors:View]
BackgroundAlternate={{ colors.bg1 | rgb_vals }}
BackgroundNormal={{ colors.bg0 | rgb_vals }}
DecorationFocus={{ accents.kde.chrome | rgb_vals }}
DecorationHover={{ accents.kde.chrome | rgb_vals }}
ForegroundActive={{ accents.kde.chrome | rgb_vals }}
ForegroundInactive={{ colors.fg_mid | rgb_vals }}
ForegroundLink={{ colors.bright_blue | rgb_vals }}
ForegroundNegative={{ colors.bright_red | rgb_vals }}
ForegroundNeutral={{ colors.bright_yellow | rgb_vals }}
ForegroundNormal={{ colors.fg_light | rgb_vals }}
ForegroundPositive={{ colors.bright_green | rgb_vals }}
ForegroundVisited={{ colors.bright_purple | rgb_vals }}

[Colors:Window]
BackgroundAlternate={{ colors.bg1 | rgb_vals }}
BackgroundNormal={{ colors.bg0 | rgb_vals }}
DecorationFocus={{ accents.kde.chrome | rgb_vals }}
DecorationHover={{ accents.kde.chrome | rgb_vals }}
ForegroundActive={{ accents.kde.chrome | rgb_vals }}
ForegroundInactive={{ colors.fg_mid | rgb_vals }}
ForegroundLink={{ colors.bright_blue | rgb_vals }}
ForegroundNegative={{ colors.bright_red | rgb_vals }}
ForegroundNeutral={{ colors.bright_yellow | rgb_vals }}
ForegroundNormal={{ colors.fg_light | rgb_vals }}
ForegroundPositive={{ colors.bright_green | rgb_vals }}
ForegroundVisited={{ colors.bright_purple | rgb_vals }}

[General]
ColorScheme=Gruvbox
Name=Gruvbox
shadeSortColumn=true

[KDE]
contrast=4

[WM]
activeBackground={{ colors.bg1 | rgb_vals }}
activeBlend={{ colors.fg | rgb_vals }}
activeForeground={{ colors.fg | rgb_vals }}
inactiveBackground={{ colors.bg0 | rgb_vals }}
inactiveBlend={{ colors.fg_dim | rgb_vals }}
inactiveForeground={{ colors.fg_dim | rgb_vals }}
